# Node modules
node_modules/

# ONNX models (if not versioning models)
onnx/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
export_img_onnx.py
export_text_onnx.py


# Build output
dist/
build/

# TypeScript
*.tsbuildinfo

# Optional: VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db
